{% macro loop(page, parent_loop) %}
    {% set data_level = parent_loop|length > 0 ? parent_loop : 0 %}
    {% for p in page.children.visible %}
        {% set parent_page = p.activeChild ? ' parent' : '' %}
        {% set current_page = p.active ? ' active' : '' %}
        <li class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">
            <a href="{{ p.url }}">
                <i class="fa fa-check read-icon"></i>
                <span><b>{% if data_level == 0 %}{{ loop.index }}. {% endif %}</b>{{ p.menu }}</span>
            </a>
            {% if p.children.count > 0 %}
            <ul>
                {{ _self.loop(p, parent_loop+loop.index) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% macro list(page, parent_loop) %}
    {% set data_level = parent_loop|length > 0 ? parent_loop : 0 %}
    {% for p in page.children.visible %}
        {% set parent_page = p.activeChild ? ' parent' : '' %}
        {% set current_page = p.active ? ' active' : '' %}
        <li class="dd-item{{ parent_page }}{{ current_page }}">
            <a href="{{ p.url }}">
                <span>{{ p.menu }}</span>
            </a>
            {% if data_level == 0 and p.children.count > 0 %}
            <ul>
                {{ _self.list(p, parent_loop+loop.index) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul class="topics">
{% if count(uri.paths()) <= 1 %}
    {{ _self.list(pages, '') }}
{% else %}
    {{ _self.loop(extension, '') }}
{% endif %}
</ul>

<hr />

{% if count(uri.paths()) > 1 %}
<a class="padding" href="#" data-clear-history-toggle><i class="fa fa-fw fa-history"></i> Clear History</a><br />
{% endif %}

<section id="footer">
    <p><a href="http://zoolanders.com">zoolanders.com</a> documentation deployed with <a href="https://github.com/getgrav/grav-skeleton-rtfm-site">RTFM</a> skeleton for <a href="http://getgrav.org">Grav</a></p>
</section>
